<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>70097691524-nlb71gc0q2fsusvl4la26m8cc0rr7iir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70097691524-nlb71gc0q2fsusvl4la26m8cc0rr7iir</string>
	<key>API_KEY</key>
	<string>AIzaSyC1v29SNgmMwTNZ6v2-LovfQGusKLfglBM</string>
	<key>GCM_SENDER_ID</key>
	<string>70097691524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.app.varzeabrasil</string>
	<key>PROJECT_ID</key>
	<string>teste-foot</string>
	<key>STORAGE_BUCKET</key>
	<string>teste-foot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70097691524:ios:e869e3807033d9b6</string>
	<key>DATABASE_URL</key>
	<string>https://teste-foot.firebaseio.com</string>
</dict>
</plist>