.confronto-lista {


ion-card {

    img {
        max-height: 60px;
        max-width: 60px;
        width: 60px;
         height: 60px;
         border-radius: 50%; 
        display: inline;
        border: solid 4px #fff; 
        box-shadow: 0 0 28px rgba(255,255,255, .65);
        border-width: 8px;
    }

    p {
        justify-content: space-around ;
    }
}
}
