<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
    <ion-title>
      <span ion-text color="primary" class="fw300">varzea</span><span ion-text color="dark" class="fw700">Brasil</span>
    </ion-title>

  </ion-navbar>
</ion-header>


<ion-content class="home-clube lightest-bg">

  <!-- Proximos jogos -->
  <ion-card>
    <ion-card-header class="primary-degrade-bg text-white">
      Próximos Jogos
    </ion-card-header>
    <ion-card-content>

      <ion-grid *ngFor="let item of listaConfrontos | slice:0:3 ; let i = index" no-padding>
       
        <div *ngIf="!item.realizado" >
            <ion-row center>
              <ion-col col-12>
                <h3 ion-text text-center color="dark" class="main-styled-border-confronto">{{item.clubeMandante.campo.nome}} - {{item.clubeMandante.dataPartidaConvite | date : "dd/MM/yyyy"}}</h3>
              </ion-col>
              <ion-col col-5 text-center>
                <ion-avatar>
                  <img src="{{item.clubeMandante.imgEscudo}}" alt="" class="img-confronto">
                </ion-avatar>
                <p> {{item.clubeMandante.nome}}</p>
              </ion-col>

              <ion-col col-2 text-center margin-vertical>
                <ion-badge class="dark-bg fw700" text-nowrap style="margin-left:-10px">
                  <ion-icon name="ios-alarm-outline"></ion-icon> {{item.clubeMandante.horaInicioJogo}}</ion-badge>
                <h2 ion-text margin-vertical text-nowrap>{{item.resultadoMandante}} X {{item.resultadoVisitante}}</h2>
              </ion-col>

              <ion-col col-5 text-center>
                <ion-avatar>
                  <img src="{{item.clubeVisitante.imgEscudo}}" alt="" class="img-confronto">
                </ion-avatar>
                <p>{{item.clubeVisitante.nome}}</p>
              </ion-col>
            </ion-row>
        </div>
      </ion-grid>


      <ion-grid *ngIf="listaConfrontos.length > 0">
        <ion-row justify-content-center>
          <ion-col col-6 text-center>
            <button ion-button color="primary" small (click)="acesseJogos()">Veja Mais</button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="listaConfrontos.length == 0">
        <ion-row justify-content-center>
          <ion-col col-8 text-center>
            Marque um confronto.
          </ion-col>
        </ion-row>

        <ion-row justify-content-center>
          <ion-col col-8 text-center>
            <button ion-button color="primary" small (click)="acesseMarcarJogos()">Acesse Já.</button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header class="primary-degrade-bg text-white">
      Convites Recebidos
    </ion-card-header>
    <ion-card-content no-padding>
      <ion-list no-padding>
        <div *ngFor="let item of listaConvitesRecebidos | slice:0:5; let i = index">
          <ion-item *ngIf="item.statusConvite == 1">
            <ion-avatar item-left>
              <!--<img-loader src="{{item.imgFoto}}" useImg></img-loader>-->
              <img src="{{item.imgEscudo}}">

            </ion-avatar>
            <h3 ion-text class="text-dark">{{item.nome}}</h3>
            <p *ngIf="item.flgMandante == 1">Mandante</p>
            <p *ngIf="item.flgMandante == 2"> Visitante</p>
            <p *ngIf="item.flgMandante == 3"> Madante e Visitante</p>
            <p *ngIf="item.horaInicioJogo && item.horaFimJogo">Horário: {{item.horaInicioJogo}} ás {{item.horaFimJogo}}</p>
            <p>Data Partida: {{item.dataPartidaConvite | date: "dd/MM/yyyy"}} </p>
          </ion-item>
        </div>
      </ion-list>

      <ion-grid *ngIf="listaConvitesRecebidos.length == 0">
        <ion-row justify-content-center>
          <ion-col col-10 text-justify	>
           Nenhum convite de confronto recebido.  Acessa o menu <span ion-text color="dark" class="fw700">Encontrar Time</span> e marque seu confronto.
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-6 text-center>
                <button ion-button color="primary" small (click)="acesseMarcarJogos()">Acesse Já.</button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="listaConvitesRecebidos.length > 0">
        <ion-row justify-content-center>
          <ion-col col-6 text-center>
            <button ion-button color="primary" small (click)="acesseConvitesRecebidos()">Veja Mais</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>


  <!-- Elenco -->
  <ion-card>
    <ion-card-header class="primary-degrade-bg text-white">
      Seu Elenco
    </ion-card-header>
    <ion-card-content no-padding>
      <ion-list no-lines *ngIf="listaJogadores">
        <ion-item *ngFor="let item of listaJogadores | slice:0:6 ;let i = index">
          <ion-avatar item-left class="imgFoto">
            <img src="{{item.imgFoto}}">
          </ion-avatar>
          <h2>{{item.nome}}</h2>
          <p>Posição: {{item.posicao}}</p>
          <p>Nº: {{item.camisa}}</p>
        </ion-item>
      </ion-list>

      <ion-grid *ngIf="listaJogadores.length > 0">
        <ion-row justify-content-center>
          <ion-col col-6 text-center>
            <button ion-button color="primary" small (click)="acesseElenco()">Veja Mais</button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="listaJogadores.length == 0">
        <ion-row justify-content-center>
          <ion-col col-8 text-center>
            Cadastre seu elenco.
          </ion-col>
        </ion-row>

        <ion-row justify-content-center>
          <ion-col col-8 text-center>
            <button ion-button color="primary" small (click)="acesseElenco()">Acesse Já.</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>




  <!-- ARTILHARIA -->
  <ion-card *ngIf="false">
    <ion-card-header class="primary-degrade-bg text-white">
      Artilharia
    </ion-card-header>
  </ion-card>
</ion-content>