

<ion-header>
  <ion-navbar>
    <ion-title><span ion-text color="primary" class="fw300">varzea</span><span ion-text color="dark" class="fw700">Brasil</span></ion-title>
    

    <ion-buttons end *ngIf="!isMinhaConta">
      <button ion-button icon-right color="primary" (click)="proximaEtapa()"     >
        Finalizar
      <ion-icon name="done-all"></ion-icon> 
    </button>
    </ion-buttons>

    <ion-buttons end *ngIf="isMinhaConta" >
      <button ion-button icon-right color="primary" (click)="proximaEtapa()" >
        Alterar
      <ion-icon name="done-all"></ion-icon> 
    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>       

<ion-content class="mascote lightest-bg">
<div padding-left padding-right>
  <h3  color="dark" ion-text>Escudo do Time</h3>
</div>

    <ion-card>
        <ion-card-content class="profiles-bg">
            <img src="{{time.imgEscudo}}">
            <!--<h2 class="fw500">{{broker.name}}</h2>
			<h3 ion-text color="light">{{broker.title}}</h3>-->
        
        <button ion-button icon-start block outline margin-top color="light" (click)="menuFoto(true)">
            <ion-icon name="photos"></ion-icon>
            Escolher Escudo
          </button>
        </ion-card-content>

        
    </ion-card>
    <!--<ion-list>


        <ion-list-header class="titulo-header-list">
            <ion-icon name="image" item-left></ion-icon>
            Escudo do Time
        </ion-list-header>
        <ion-item>
            <ion-row>
                <ion-col col-12 center>
                    <ion-avatar item-center>
                        <img [src]="time.imgEscudo" *ngIf="time.imgEscudo" class="imgEscudo" />
                    </ion-avatar>
                </ion-col>
            </ion-row>


            <ion-row text-center>
                <ion-col col-12 center>
                    <button type="button" ion-button small icon-left (click)="menuFoto(true)" color="dark">
                            <ion-icon name='camera-outline' ></ion-icon>
                            Selecionar 
                        </button>
                </ion-col>
            </ion-row>
        </ion-item>



    </ion-list>

    <ion-list>


        <ion-list-header class="titulo-header-list">
            <ion-icon name="image" item-left></ion-icon>
            Mascote do Time
        </ion-list-header>
        <ion-item>
            <ion-row text-center>
                <ion-col col-12 center>
                    <ion-thumbnail text-center>
                        <img [src]="time.imgMascote" *ngIf="time.imgMascote" class="imgThumbnail" />
                    </ion-thumbnail>
                </ion-col>
            </ion-row>


            <ion-row text-center>
                <ion-col col-12 center>
                    <button type="button" ion-button small icon-left (click)="menuFoto(false)" color="dark">
                             <ion-icon name='camera-outline' ></ion-icon>
                             Selecionar
                        </button>
                </ion-col>
            </ion-row>
        </ion-item>



    </ion-list>-->





</ion-content>